* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

.tilemap {
  position: fixed;
  top: 0;
  z-index: 100;
  transform-origin: top left;
  transition: all 0.3s ease;
}

.tilemap:hover {
  transform: scale(2);
}

.tilemap img {
  margin: 0;
  image-rendering: pixelated;
}

.tilemap div {
  position: absolute;
  inset: 0;
  font-size: 10px;
  font-family: monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.1s ease;
}

.tilemap div:hover {
  opacity: 1;
  outline: 2px solid white;
}

.tilemap div.selected {
  opacity: 1;
  outline: 2px solid #0eec82;
}
